html {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}


h1 {
  font-size: 120px;
  text-align: center;
}

p, li {
  font-size: 40px;
  line-height: 1;
  letter-spacing: 1px;
}


body {
  padding: 0 20px 20px 20px;
  border: 3px transparent;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #21355a;
  text-shadow: 3px 3px 1px #000000;
}

p, li {
  margin: 0;
  padding: 5px 0;
  color: #21355a;
}

img {
  display: block;
  margin: 0 auto;
}


h2 {
  font-size: 60px;
  line-height: 1;
  text-align: justify;
}


h2 {
  margin: 0;
  padding: 20px 0;
  color: #21355a;
}